body{
	margin: 0 auto;
}

ul{
	padding: 0;
}

li{
	list-style: none;
}

.nav-pills {
	margin-bottom: 30px;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus{
	color: red;
}

.nav-pills > li.active > a{

}
